// .col,
// .mb-4,
// .my-4 {
//     @media(max-width: $sm) {
//         margin-bottom: 3rem;
//     }
// }

.card {
    background-color: $color-secondary;

    #projects &,
    &-img,
    &-img-top::before {
        transition: all .1s linear;
    }

    #projects & {
        box-shadow: 0 0 8px $color-shadow-secondary;

        &-body {
            display: flex;
            flex-direction: column;
        }

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 1.5rem 0 lighten($color-primary, 5%);

            & .card {
                &-title {
                    color: lighten($color-primary, 5%);
                }

                &-img {
                    filter: none;
                    border-bottom: 3px solid lighten($color-primary, 5%);

                    &-top::before {
                        opacity: 0;
                    }
                }
            }
        }
    }

    &-img {
        object-fit: cover;
        height: 195px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 3px solid $color-primary;
        position: relative;
        filter: grayscale(100%);

        &-top {
            position: relative;

            &::before {
                content: "";
                height: 100%;
                width: 100%;
                position: absolute;
                z-index: 10;
                top: 0;
                left: 0;
                right: 0;
                background-color: $color-primary;
                mix-blend-mode: multiply;
                opacity: .8;
            }
        }
    }

    &-title {
        color: $color-primary;
    }

    & .btn {
        height: 2.75rem;
        width: 35%;

        @media (max-width: $xs) {
            margin: 8px;
            width: 125px;
        }

        @media (min-width: $md) {
            margin: 8px;
            width: 225px;
        }

        @media (min-width: $lg) {
            width: 40%;
        }
    }

    &-skill {
        background-color: transparent;
        border: none;
    }

    &-footer {
        display: flex;
        justify-content: space-evenly;
        background-color: transparent;
        padding: 1.25rem 0 0 0;
        margin-top: auto;

        @media (min-width: $md) {
            padding-left: 0;
            padding-right: 0;
            justify-content: space-between;
        }
    }
}

.col {
    &-skill {
        padding: 0;

        & .card-body {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}

.skill {

    color: $color-txt-primary;
    position: relative;

    &-container {
        margin: 0;
        padding-left: 12px;
        list-style: none;
    }

    &::before {
        content: "";
        border-color: transparent $color-primary;
        border-style: solid;
        border-width: 0.35em 0 0.35em 0.45em;
        display: block;
        height: 0;
        width: 0;
        left: -.75rem;
        top: 0.9em;
        position: relative;
    }

}