.card {
    // margin: 1rem;
    // width: 25rem;
    background-color: $color-secondary;

    & .btn {
        height: 2.75rem;
        width: 35%;
        vertical-align: center;
        @media (max-width: $xs){
            margin: 8px;
            width: 125px;
        }
        @media (min-width: $md){
            margin: 8px;
            width: 225px;
        }
        @media (min-width: $lg){
            width: 400px;
        }
    }

    &-footer {
        display: flex;
        justify-content: space-evenly;
        background-color: none;
        padding-top: 1.25rem;
        @media (min-width: $md){
            padding-left: 0;
            padding-right: 0;
            justify-content: space-between;
        }
    }
}


.icon-tech{
    fill: #ffffff;
}