.hero {
    position: relative;
    padding-top: 15rem;
    height: 100vh;
    text-align: center;
    width: 100%;
    margin-bottom: 1.5rem;

    & hr {
        background-color: $color-primary;
        width: 95%;
        padding: 0;
    }

    &-background {
        position: absolute;
        // z-index: -10;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        width: 400px;
        // fill: $color-primary;
        fill: black;


        @media(min-width: $md) {
            width: 470px;
        }
    }

    &-title {
        font-weight: 600;
        margin-top: 2px;
        margin-bottom: 2px;
        letter-spacing: 1px;
    }

    &-lead {
        font-size: 14px;
        color: $color-txt-secondary;
        margin-bottom: 0;
        margin-top: 0;
    }

    // &-container {
    //     margin-top: 50%;
    //     width: 100%;
    //     box-shadow: 0 1px 10px 0 $color-primary, 0 -1px 10px 0 $color-primary, ;
    //     padding-top: 2px;
    //     padding-bottom: 2px;
    //     //background: radial-gradient($color-secondary,$color-primary);

    //     @media(min-width: $md) {
    //         margin-top: 35%;
    //     }

    //     @media(min-width: $lg) {
    //         margin-top: 30%;
    //     }

    //     @media(min-width: $xl) {
    //         margin-top: 25%;
    //     }
    // }
}

#about {
    display: flex;
    justify-content: space-between;
}

.about {
    &-btn {
        display: flex;
        // justify-content: space-around;
        margin: auto;
    }
}