body {
    background-color: $color-bg;
    margin: auto;
}

.container{
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    &-fluid{
        padding: 0;
        margin: auto;
    }
}

.footer-text {
    font-size: 12px;
    color: $color-txt-secondary;
    margin-right: auto;
    margin-left: auto;
}