html {
    scroll-behavior: smooth;
}

body {
    background-color: $color-bg;
    margin: auto;
    outline: none;
    padding-top: 66px;
}

.container {
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;

    &-fluid {
        padding: 0;
        margin: auto;
    }
}

.contact-content-container {
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section-hr {
    margin-top: 3rem;
    width: 80%;
}

#contact {
    margin-bottom: 25rem;
}

.section-offset {
    padding-top: 80px;
}