body {
    background-color: $color-bg;
    margin: auto;
}

.container{
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    &-fluid{
        padding: 0;
        margin: auto;
    }
}

.contact-content-container{
    text-align: center;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}