.navbar {
    background-color: #fff;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & a {
        color: $color-primary;
        text-decoration: none;
        letter-spacing: 3px;
        font-family: $font-secondary;
    }

    &.scroll {
        box-shadow: 0 0 5px $color-shadow-secondary;
    }

    &-brand {
        padding: 0;
        margin-left: .5rem;
    }

    //Logo
    & .cls-1 {
        fill: none;
        stroke: $color-primary;
        stroke-miterlimit: 10;
        stroke-width: 2px;
    }
}

.nav {
    &-links {
        display: flex;
        flex-direction: column;
        margin: 0;

        @media(max-width: $lg) {
            width: 60%;
        }

        @media(max-width: $md) {
            position: absolute;
            right: 0;
            height: 100vh;
            top: 8.25vh;
            flex-direction: column;
            align-items: center;
            background-color: lighten($color-primary, 35%);
            box-shadow: -6px 0 10px -5px grey;
            transform: translateX(100%); //moves container off screen
            transition: transform 0.5s ease-in;
        }

        & li {
            list-style: none;

            @media(max-width: $md) {
                opacity: 0;
            }
        }

        & a:hover {
            color: #fff;
        }

    }

    &-active {
        transform: translateX(0);
    }

    &-items {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 75%;

        @media(min-width: $md) {
            flex-direction: row;
        }
    }

    &-socials {
        align-self: auto;

        @media(min-width: $md) {
            display: none;
        }

        & .fa {
            font-size: 16px;
            margin-bottom: 0;
        }
    }
}

.burger {
    display: block;
    cursor: pointer;

    @media (min-width: $md) {
        display: none;
    }

    & div {
        background-color: $color-primary;
        border-radius: 5px;
        width: 25px;
        height: 3px;
        margin: 5px;
        transition: all .3s ease;
    }
}

.toggle {
    & .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    & .line2 {
        opacity: 0;
    }

    & .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}