.modal {

    max-height: 800px;

    &-content {
        height: 100%;
        max-width: 1000px;
        margin: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: $color-secondary;
        box-shadow: 0 0 15px 1px $color-shadow;
    }

    &-gif {
        background-color: #ffffff;
        text-align: center;
    }

    &-img {
        width: 100%;
        object-fit: cover;

        &.mastermind {
            width: 300px;
            height: 100%;
        }
    }

    &-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: none;
    }

    &-title {
        margin-bottom: 1rem;
        font-size: 36px;
        margin-top: 0;
    }

    &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .tech-stack {
            align-self: flex-end;
        }
    }

    &-footer {
        display: flex;
        justify-content: space-around;
        border: none;
    }
}