.modal {
    &-content {
        height: 100%;
        max-width: 1000px;
        margin: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: $color-secondary;
        box-shadow: 0 0 15px 1px $color-shadow;
    }

    &-img {
        width: 100%;
        object-fit: cover;
    }

    &-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: none;
    }

    &-title {
        margin-bottom: 1rem;
        font-size: 36px;
        margin-top: 0;
    }

    &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .tech-stack {
            align-self: flex-end;
        }
    }

    &-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: none;
    }

    &-btn {
        align-self: center;
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;

        @media (min-width:$lg) {
            align-self: flex-start;
        }

        & .btn {
            width: 100%;
            height: 40px;
            margin-left: 2.5rem;
            margin-right: 2.5rem;

            @media (min-width:$lg) {
                align-self: flex-start;
                margin-left: 0;
            }
        }
    }
}