* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: $color-txt-primary;
}

p {
    font-weight: 100;
    font-size: 12px;

    @media (min-width: $md) {
        font-size: 14px;
    }

    @media (min-width: $lg) {
        font-size: 16px;
    }
}

.btn {
    font-family: $font-secondary;
    font-size: 18px;

    .card & {
        font-size: 14px;
    }
}

.section-heading {
    position: relative;
    font-size: 32px;
    padding-left: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 2rem;

    &::before {
        content: "";
        display: inline-block;
        width: 5px;
        height: 100%;
        background-color: $color-primary;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.col {
    &-skill {
        & .card-title {
            font-size: 18px;
            margin: 0;

            @media (min-width: $md) {
                font-size: 20px;
            }
        }
    }
}

.txt-2 {
    font-family: $font-secondary;
    align-self: flex-end;

    &.skill {
        font-size: 14px;
        color: $color-txt-secondary;

        @media (min-width: $md) {
            font-size: 16px;
        }
    }

    &-project {
        font-size: 12px;
        color: $color-txt-secondary;
    }
}

.footer-text {
    font-size: 12px;
    color: $color-txt-secondary;
}

.about {
    &.line {
        &-1 {
            font-family: $font-secondary;
            color: $color-primary;
            font-size: 1.5rem;
            line-height: 2.25rem;
        }

        &-2 {
            font-size: 4rem;
            letter-spacing: 1px;

            @media (min-width: $md) {
                font-size: 5rem;
            }

        }

        &-3 {
            color: $color-txt-secondary;
        }

        &-3,
        &-4 {
            font-size: 1.25rem;
            letter-spacing: 1px;
            line-height: 2rem;
        }
    }
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;

    @media (min-width: $md) {
        flex-direction: row;
    }

}

.contact-msg {
    color: $color-txt-secondary;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    line-height: 2rem;
}

#contact-heading {
    text-align: center;
    position: relative;
    font-size: 40px;
    padding-left: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;

    &::before {
        display: none;
    }
}