* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: $color-txt-primary;
}

p {
    font-weight: 100;
    font-size: 12px;

    @media (min-width: $md) {
        font-size: 14px;
    }

    @media (min-width: $lg) {
        font-size: 16px;
    }
}

.card .btn {
    font-size: 14px;
}

// h3{
//     font-weight: 600;
//     font-size: 16px;
//     letter-spacing: 2px;

//     @media (min-width: $lg) {
//         font-size: 18px;
//     }

//     @media (min-width: $lg) {
//         font-size: 20px;
//     }
// }

.section-heading {
    position: relative;
    font-size: 24px;
    padding-left: 1rem;
    font-weight: 600;
    letter-spacing: 1px;

    &::before {
        content: "";
        display: inline-block;
        width: 5px;
        height: 100%;
        background-color: $color-primary;
        position: absolute;
        left: 0;
        top: 0;
    }

    // &::after{
    //     content: "";
    //     width: 60%;
    //     display: inline-block;
    //     background-color: red;
    //     height: 1px;
    //     margin-right: auto;
    //     // right: auto;
    //     // left: 10px;
    //     top: -12px;
    //     position: relative;
    // }
}

.col {
    &-skill {
        & .card-title {
            font-size: 14px;

            @media (min-width: $md) {
                font-size: 20px;
            }
        }
    }
}

.txt-2 {
    font-family: $font-secondary;

    & .skill {
        font-size: 12px;

        @media (min-width: $md) {
            font-size: 16px;
        }
    }

    &-project{
        font-size: 12px;
    }
}
