//Global Colors
$color-bg: #111821;
$color-txt-primary: #F3F4F4;
$color-txt-secondary: #BCC0C4;
$color-golden: goldenrod;
$color-nav: #151E29;
$color-primary: #54B78A;
$color-secondary: #1E2A3A;
$color-shadow: darken($color-primary, 50%);


//Media Query Sizes
$xs: 575px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;