//Global Colors
$color-bg: #ffffff;
$color-txt-primary: rgb(34, 34, 34);
$color-txt-secondary: rgb(124, 124, 124);
$color-golden: goldenrod;
$color-nav: #151E29;
$color-primary: #54B78A;
$color-secondary: #ffffff;
$color-shadow: darken($color-primary, 50%);
$color-shadow-secondary: rgb(151, 151, 151);

//Media Query Sizes
$xs: 575px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//Font Families
$font-secondary: 'SF Mono',
monospace;